body {
background-color: #0099CC;
 color: white;
font-family: 'Fredoka One', cursive;
}

p {
font-size: 30px;
  
}

h1 {
  color: orange;
  font-size:50px;
}

h2 {
  color: #ffffff;
    font-size:40px;
}

h3 {
color: #ffffff ;
    font-size:35px;
}


div{
  background-color: powderblue;
  display: block;
}

a {
  color: white;
font-family: 'Fredoka One', cursive;
 font-size: 30px;
 Text-decoration: none; 
}
