body {
background-color: #66d3f4;
 color: white;
   margin: 0;

font-family: 'Fredoka One', cursive;
}

.header {
  padding: 60px;
  text-align: center;
  background: #72acea;
  color: white;
  font-size: 30px;
}

/* Page Content */
.content {padding:20px;}


p {
font-size: 30px;
  
}

h1 {
  color: orange;
  font-size:50px;
}

h2 {
  color: #ffffff;
    font-size:40px;
}

h3 {
color: #ffffff ;
    font-size:35px;
}


div {
  background-color: powderblue;
  display: block;
  padding: 20px;
}


div.footer {
  background-color: #72acea;
  display: block;
  padding: 20px;
}

div.smalltext {
color: #ffffff ;
    font-size:10px;
}

a.button {
background:    darkgradient(270deg,#ffe477 0,#fc0 200%);
border-radius: 11px;
padding:       20px 45px;
color:         #ffffff;
display:       inline-block;
font:          normal bold 26px/1 "Calibri", sans-serif;
text-align:    center;
}


button.button {
  background:    #6fa8dc;
  border-radius: 11px;
  padding:       20px 45px;
  color:         #ffffff;
  display:       inline-block;
  font:          normal bold 26px/1 "Calibri", sans-serif;
  text-align:    center;
}

a {
  color: white;
font-family: 'Fredoka One', cursive;
 font-size: 30px;
 Text-decoration: none; 
}

a.fab fa-play {
  color: blue;
}

hr {
  border: 3px solid #64c0ea;
}

.alert {
  padding: 20px;
  background-color: powderblue;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: cyan;
}


body::-webkit-scrollbar {
    width: 1em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: powderblue;
  outline: 1px solid slategrey;
  margin: 4px 2px;
   border-radius: 16px;
}
